body{

background-color: gray;
}

h2{


font-style:italic; font-size:26px;
font-family:arial;

font-family:verdana

}


p{

font-style:bold; font-size:10px;

color: red;


}


form{

font-family:algerian

font-size: 18px;

color: white;

background-color:black;

}


div{

font-size:18px;
font-family:times new roman;


}
